<div class="bg-gray-100 min-h-screen">
   <div
      id="notification"
      class=" hidden fixed mx-auto top-0 left-96 right-96 text-center bg-blue-500 text-slate-50 px-5 py-3 m-4 rounded shadow-lg"
    >
    </div>
  <div class="mx-5"><button
      class="my-5 bg-blue-700 rounded-lg text-center text-slate-50 px-2 py-1"
    >+ Create Room</button>
  </div>
  <h1 class="text-center text-3xl">Active Rooms</h1>
  <div id="room-list" class="items-center grid md:grid-cols-2 lg:grid-cols-3">
    {{!-- Here we iterate over each room and create elements for each to display it's info --}}
    {{#each rooms}}
      <div
        id="{{this.theme}}"
        class="cursor-pointer escape-room bg-white rounded-lg mx-8 my-5 py-2 px-5"
      >
        <h1
          id="{{this.theme}}"
          class="text-xl text-center p-2"
        >{{this.theme}}</h1>
        <img
          src={{this.image_url}}
          alt="{{this.theme}}"
          class="rounded-md"
          id="{{this.theme}}"
        />
      </div>
    {{/each}}
    <h1 class="text-center text-3xl">Disabled Rooms</h1>
     {{!-- Any disable rooms appear here --}}
  </div>

</div>

<!-- Escape Room modal -->
<div
  id="escape-room-modal"
  class="fixed hidden h-screen inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div
    class="overscroll-contain max-h-screen overflow-y-auto relative bg-white p-6 rounded-lg shadow-lg w-full max-w-lg"
  >
  {{!-- Close modal icon --}}
    <span
      id="closeModal"
      class="absolute top-5 right-8 text-xl font-bold cursor-pointer"
    >&times;</span>
    <h2 class="font-bold text-3xl my-4" id="escape-room-theme"></h2>
    <div class="flex flex-wrap justify-between">
      <div class="w-full">
        <img id="escape-room-image" class="w-full rounded-lg mb-4" alt="" />
        <div class="flex items-center justify-between">

        </div>
      </div>
      <div class="w-full md:w-2/3 pl-4">
        <div class="flex text-center items-start justify-between mb-2">
          <p class="font-semibold text-lg">Description:</p>
          <p id="escape-room-description" class="text-right ml-2"></p>
        </div>
        <div class="flex text-center items-start justify-between mb-2">
          <p class="font-semibold text-lg">Difficulty:</p>
          <p id="escape-room-difficulty" class="text-right ml-2"></p>
        </div>
        <div class="flex text-center items-start justify-between mb-2">
          <p class="font-semibold text-lg">Duration :</p>
          <p id="escape-room-duration" class="ml-2 text-right"></p>
        </div>

      </div>
    </div>
    <button
      id="save-escape-room"
      class="my-4 bg-blue-500 text-white px-6 py-2 rounded-lg font-semibold"
    >Edit Escape Room</button>
    <button
      id="delete-escape-room"
      class="my-4 bg-red-500 text-white px-6 py-2 rounded-lg font-semibold"
    >Delete Escape Room</button>

  </div>
</div>

<script src="/js/manageescaperooms.js">
</script>