<!-- Hero Section -->
<section class="bg-indigo-600 text-white p-5 rounded-lg my-5 mx-3">
  <div class="container mx-auto text-center mb-2">
    <h1 class="text-4xl font-bold mb-3">Welcome to EscapeMe, {{name}}</h1>
    <p class="text-lg mb-5">Experience the thrill of our escape rooms and book
      your next adventure!</p>
    <a
      href="/booking"
      class="bg-white text-indigo-600 font-semibold px-6 py-3 rounded"
    >Book Now</a>
  </div>
</section>

<!-- Escape Rooms Section -->
<section class="py-12 px-4">
  <div class="container mx-auto">
    <h2 class="text-4xl font-bold mb-8 text-center">Escape Rooms</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-slate-950">
      <!-- Begin escape room card loop -->
      {{#each rooms}}
        <div class="bg-white shadow-lg rounded-lg p-6">
          <img
            src="{{this.image_url}}"
            alt="{{this.theme}}"
            class="w-full h-56 object-cover mb-6 rounded"
          />
          <h3 class="text-xl font-bold mb-1">{{this.theme}}</h3>
          <p class="mb-1">Difficulty: {{this.difficulty}}</p>
          <p class="text-gray-600">{{this.description}}</p>
        </div>
      {{/each}}

      <!-- End of escape room card loop -->
    </div>
  </div>
</section>